Create data frames and import necessary libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

driver_df = pd.read_csv('Drivers_Data.csv')
Rides_df = pd.read_csv('Rides_Data.csv')

Diplay data and count rows

In [3]:
print(driver_df.head())
print(f'number of rows: {len(driver_df)}')

   Driver_ID            Name  Age           City  Experience_Years  \
0        101   William Black   56  San Francisco                15
1        102   Holly Sherman   39    Los Angeles                19
2        103    Crystal Cook   57        Chicago                 9
3        104  Tiffany Wright   58  San Francisco                19
4        105    Jeffrey King   49    Los Angeles                 4

   Average_Rating Active_Status
0             4.8        Active
1             4.3        Active
2             4.5      Inactive
3             4.4      Inactive
4             4.4      Inactive
number of rows: 100

In [4]:
print(Rides_df.head())
print(f'number of rows: {len(Rides_df)}')

   Ride_ID  Driver_ID           City        Date  Distance_km  Duration_min  \
0        1        110          Miami  11/11/2024          5.8             8
1        2        112    Los Angeles  11/19/2024          2.6             5
2        3        147  San Francisco  11/14/2024          4.6             8
3        4        120        Chicago  11/12/2024         26.5            46
4        5        193  San Francisco   11/7/2024         15.9            26

    Fare  Rating  Promo_Code
0  11.01     3.8         NaN
1   5.69     4.8         NaN
2   8.95     4.5    WELCOME5
3  54.88     4.7      SAVE20
4  20.45     4.2  DISCOUNT10
number of rows: 1000

Clean data and check for duplicates and think about how you are going to normalize

In [5]:
driver_dup = driver_df.duplicated()
print(driver_df[driver_dup])

Empty DataFrame
Columns: [Driver_ID, Name, Age, City, Experience_Years, Average_Rating, Active_Status]
Index: []

In [6]:
rides_dup = Rides_df.duplicated()
print(Rides_df[rides_dup])

Empty DataFrame
Columns: [Ride_ID, Driver_ID, City, Date, Distance_km, Duration_min, Fare, Rating, Promo_Code]
Index: []

There are no duplicates and this seems like pretty clean data set. I need to normalize this and create the database and connect it.

In [7]:
try:
    conn = sqlite3.connect('Ride_Share.db')
    print('database was formed')
except:
    print('database not formed')

database was formed

this is how to just upload a table into sqlite without adding constraints and what not. Also you need to create a new table and delete the old one to update a table in sqlite.

In [19]:
driver_df.to_sql('Driver',conn,if_exists='replace')
Rides_df.to_sql('Rides',conn,if_exists='replace')

1000

I will use a for loop too update these tables after creating them and adding constraints. cursor() seems to create a pointer for sql.

In [29]:
cursor = conn.cursor()

driver_table = '''CREATE TABLE Drivers(
                        Driver_ID char(9) NOT NULL,
                        Name TEXT NOT NULL,
                        Age int NOT NULL,
                        City TEXT NOT NULL,
                        Experience_Years int NOT NULL,
                        Average_Rating REAL,
                        Active_Status TEXT NOT NULL, 
                        CONSTRAINT PK_Driverid PRIMARY KEY (Driver_ID),
                        CONSTRAINT Drivers_status CHECK (Active_status LIKE 'Active' or 'Inactive'));'''
cursor.execute(driver_table)

In [34]:
driver_df.to_sql('Drivers',conn, if_exists='replace', index=False)

100

In [32]:
Rides_table = '''CREATE TABLE Rides(
                        Ride_ID char(9) NOT NULL,
                        Driver_ID char(9) NOT NULL,
                        City TEXT NOT NULL,
                        Date int NOT NULL,
                        Distance_km REAL NOT NULL,
                        Duration_min INT NOT NULL,
                        Fare REAL NOT NULL,
                        Rating REAL,
                        Promo_Code varchar(50), 
                        CONSTRAINT PK_Rideid PRIMARY KEY (Ride_ID),
                        CONSTRAINT Rides_Date CHECK (Date LIKE '[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]'));'''
cursor.execute(Rides_table)

In [35]:
Rides_df.to_sql('Rides',conn, if_exists='replace', index=False)

1000

Database created!!!!!